.DS_Store
node_modules/
*-debug.log
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
GoogleService-Info.plist
screenshots/
build/
data_sources/
.firebase/
aso-screenshots/
